<div class="portfolio">
  <div class="container p-3 mx-auto my-auto">
    <%= render "shared/stream", sectionText: @sectionText %>
    <div class="content">
      <% @portfolios.each do |portfolio| %>
        <div class="p-3 my-4 shadow-lg">
          <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-5 col-xs-12">
              <img class="" src="<%= image_path(portfolio.image) %>" width="100%" alt="Portfolio image">
            </div>
            <div class="col-lg-5 col-md-6 col-sm-7 col-xs-12">
              <h3 class="text-info">
                <%= portfolio.title %>
              </h3>
              <p class="text-white">
                <%= raw(portfolio.summary) %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
