<footer class="footer">
  <div class="container position-relative">
    <div class="copyright float-start py-2">
      Copyright © 2022.
      <br />
      Powered by JGoodIdea | Ruby on Rails
    </div>
    <div class="float-end py-1">
      <a href="https://twitter.com/jgoodidea" class="btn btn-link social-link fs-3" target="_blank">
        <span class="bi bi-twitter" />
      </a>
      <a href="https://linkedin.com/in/jgoodidea" class="btn btn-link social-link fs-3" target="_blank">
        <span class="bi bi-linkedin" />
      </a>
      <a href="https://github.com/gitproman0211" class="btn btn-link social-link fs-3" target="_blank">
        <span class="bi bi-github" />
      </a>
      <a href="https://t.me/jgoodidea" class="btn btn-link social-link fs-3" target="_blank">
        <span class="bi bi-telegram" />
      </a>
    </div>
  </div>
</footer>
