<div class="row text-center">
  <div class="stream-effect">
    <svg viewBox="0 0 700 100">
      <!-- Symbol-->
      <symbol id="s-text">
        <text text-anchor="middle" x="50%" y="100%" dy="-0.3em"><%= @sectionText %></text>
      </symbol>
      <!-- Duplicate symbols-->
      <use class="text" xlink:href="#s-text"></use>
      <use class="text" xlink:href="#s-text"></use>
      <use class="text" xlink:href="#s-text"></use>
      <use class="text" xlink:href="#s-text"></use>
      <use class="text" xlink:href="#s-text"></use>
    </svg>
  </div>
</div>
