<div class="section" id="contact">
  <div class="container">
    <%= render "shared/stream", sectionText: @sectionText %>
    <div class="row justify-content-center">
      <div class="col-md-8 align-self-center">
        <div class="p-2 shadow-lg my-4">
          <div class="card mb-0" data-aos="zoom-in">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <div class="card-body text-center">
                  <p class="mb-0">
                    <i class="bi bi-envelope-fill" style="font-size: 2rem;"></i>
                  </p>
                  <p>
                    <a href="mailto:gloproman0211@gmail.com">gloproman0211@gmail.com</a>
                  </p>
                  <p class="mb-0">
                    <i class="bi bi-telegram" style="font-size: 2rem;"></i>
                  </p>
                  <p>
                    <a href="https://t.me/jGoodIdea">JGoodIdea</a>
                  </p>
                  <p class="mb-0">
                    <i class="bi bi-twitter" style="font-size: 2rem;"></i>
                  </p>
                  <p>
                    <a href="https://twitter.com/jGoodIdea">JGoodIdea</a>
                  </p>
                  <p class="mb-0">
                    <i class="bi bi-discord" style="font-size: 2rem;"></i>
                  </p>
                  <p>
                    <a href="#">Good Idea#2022</a>
                  </p>
                </div>
              </div>
              <div class="col-md-12 col-lg-6">
                <div class="">
                  <img src="<%= image_url('contact_dice.jpg') %>" width="100%" alt="dice contact" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
